* {
	font-family: 'Open Sans', sans-serif;
}

html {
	/* font-size */
}

h1, h2, h3. h4, h5, h6 {
	/* margins/spacing */
}

h1 {
	/* font-size */
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {

}

a {

}

table {
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

th, td {
	text-align: left;
	padding: 8px;
}

div {

}

img {

}

button {

}

ul {

}

ol {

}

li {

}


p.example {
border-style: outset;
}

augusto:
links and all related to Links, buttons

Karren:
margins, spacing, headers, paragraphs

Sam:
lists, breadcrumbs, borders
