* {
	font-family: 'Open Sans', sans-serif;
}

html {
	/* font-size */
}

h1, h2, h3. h4, h5, h6 {
	/* margins/spacing */
}

h1 {
	/* font-size */
}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {

}

a:link {
  color: red;
	text-decoration: none;
}

/* visited link */
a:visited {
  color:  #cc3300;
	text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: underline;
}

/* selected link */
a:active {
  color: blue;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

th, td {
	text-align: left;
	padding: 8px;
}

div {

}

img {

}

button {
	background-color: #008080;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

ul {

}

ol {

}

li {

}


p.example {
border-style: outset;
}

augusto:
links and all related to Links, buttons

Karren:
margins, spacing, headers, paragraphs

Sam:
lists, breadcrumbs, borders
